<form [formGroup]="resolvePtoForm" (ngSubmit)="saveRequest(resolvePtoForm.value)">
  <h1></h1>
  <div class="flex flex-column items-center">
    <mat-button-toggle-group name="status" formControlName="status" class="center mv2">
      <mat-button-toggle value="approve">{{ 'Approve' | translate }}</mat-button-toggle>
      <mat-button-toggle value="reject">{{ 'Reject' | translate }}</mat-button-toggle>
    </mat-button-toggle-group>
    <label class="mv2">
      <input matInput type="text" formControlName="comment" placeholder="{{ 'Insert comment' | translate }}" class="center">
    </label>
  </div>
  <div *ngIf="!isValid" class="bg-dark-red near-white tc fw5 pa1">{{ 'Invalid input' | translate }}</div>
  <div class="flex justify-center">
    <button type="submit" mat-button [disabled]="!resolvePtoForm.valid">{{ 'SAVE' | translate }}</button>
    <button mat-button mat-dialog-close (click)="resolvePtoForm.reset()">{{ 'CANCEL' | translate }}</button>
  </div>
</form>
