html {
  font-size: 62.5%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
}

//.button {
//  border: 0.1rem solid;
//  border-radius: 0.4rem;
//  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.3);
//}

//.button:hover {
//  box-shadow: 0px 2.5px 4px 2px rgba(0,0,0,0.4);
//}