$color-primary: #795548;
$color-light-primary: #D7CCC8;
$color-dark-primary: #5D4037;
$color-accent: #607D8B;
$color-text: #FFFFFF;
$color-text-primary: #212121;
$color-text-secondary: #757575;
$color-divider: #BDBDBD;
