/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.custom-dialog-container .mat-dialog-container {
  padding: 0px;
  background-color: #f2f2f2;
  border-style: solid;
  border-width: 1px;
}

.justify-evenly {
  justify-content: space-evenly;
}

.w-95 {
  width: 95%;
}

.mat-form-field-wrapper {
  position: relative;
  width: 110px;
}

.mat-form-field-infix{
  text-align: center;
}
.disabled {
  cursor: not-allowed;
  opacity: 0.8;
  pointer-events: none;
}
.snackbar {
  background-color: #E7040F;
  text-align: center;
  color: #111111;
}
