.pto-menu {
  display: flex;
  flex-direction: column;
  //flex: 1;
  padding: 0.5rem;
}

.pto-menu div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0.3rem 0;
}

.pto-menu .filter-button {
  width: 50%;
  height: 6rem;
  margin: 0 0.3rem;
}

.pto-menu .filter-seasons {
  height: 3rem;
  background-color: #D6D6D6;
}

.pto-menu .filter-seasons button {
  background:none;
  border:none;
  margin:0 1rem;
  padding:0;
  cursor: pointer;
}

.pto-menu .filter-seasons .season {
  box-sizing: border-box;
  flex: 1;
  text-align: center;
  vertical-align: middle;
}

.pto-menu .new-pto {
  height: 4.5rem;
}

.pto-menu .new-pto * {
  width: 50%;
}

.pto-menu .new-pto .re-days {
  background-color: buttonface;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pto-menu .new-pto .re-days p {
  display: contents;
}