<div class="w-100 bg-white flex flex-column">
  <div class="days f5 w-95 center bg-white flex flex-row justify-around pv2 items-center tc">
    <div class="w-10">{{ 'MONDAY' | translate}}</div>
    <div class="w-10">{{ 'TUESDAY' | translate}}</div>
    <div class="w-10">{{ 'WEDNESDAY' | translate}}</div>
    <div class="w-10">{{ 'THURSDAY' | translate}}</div>
    <div class="w-10">{{ 'FRIDAY' | translate}}</div>
    <div class="w-10">{{ 'SATURDAY' | translate}}</div>
    <div class="w-10">{{ 'SUNDAY' | translate}}</div>
  </div>
  <div class="w-95 flex f5 tc flex-row flex-wrap justify-around items center pv3">
    <app-calendar-card *ngFor="let card of cards; let i = index;" [i]="i" class="center mv2"></app-calendar-card>
  </div>
</div>
