<div class="flex flex-column w-100 h-100">
  <div class="center flex tc flex-row justify-between pv2 w-90">
    <a
      (click)="changeRoute(0)"
      disabled="true"
      class="button-width hover-bg-dark-green white br1 pa3 pointer"
      [ngClass]="{
      'bg-dark-green': requestsService.listMinePtos,
      'disabled': requestsService.listMinePtos || loadRequests || loadFreeDaysCount,
      'bg-green': !requestsService.listMinePtos
      }">{{ 'Mine' | translate }}</a>
    <a
      (click)="changeRoute(1)"
      class="button-width hover-bg-dark-green white br1 pa3 pointer"
      [ngClass]="{
        'bg-dark-green': !requestsService.listMinePtos,
        'disabled': !requestsService.listMinePtos || loadRequests || loadFreeDaysCount,
        'bg-green': requestsService.listMinePtos
      }">{{ 'Approvals' | translate }}</a>
  </div>
  <app-requests-season [loadFreeDaysCount]="loadFreeDaysCount" [loadRequests]="loadRequests" [freeDaysCount]="freeDaysCount"></app-requests-season>
  <span class="center ph4 pv1 mb2 bg-light-gray br1 f7 b request-border">{{ 'requests' | translate }}</span>
  <ng-container *ngIf="loadRequests===false">
    <app-request-item *ngFor="let pto of ptos" [pto]="pto"></app-request-item>
  </ng-container>
  <mat-spinner class="center" *ngIf="loadRequests===true"></mat-spinner>
</div>
