* {
  flex-shrink: 0;
}
.button-width {
  width: calc(50% - 4px);
}
.request-border {
  position: relative;
}
.request-border:after {
  content: "";
  height: 4px;
  position: absolute;
  left: -150%;
  bottom: calc(50% - 2px);
  width: 400%;
  background-color: #eee;
  z-index: -1;
}
