<div *ngIf="!this.requestsService.listMinePtos" class="w-90 mt1 f6 center">
  <hr>
  {{pto.userEmail}}
</div>
<div *ngIf="loading===false" class="container br1 w-90 bg-white flex-row justify-between items-center center mv1">
  <div class="left mat-small w-50 h-100 ba bw2 pa0 lh-copy f7 flex flex-column justify-center items-center bg-light-gray  ">
    {{ 'from' | translate}}:
    <span class="f6">{{ fromDateSpliter[0] }}-{{ fromDateSpliter[1] | translate }}-{{ fromDateSpliter[2] }}</span>
    {{ 'to' | translate}}:
    <span class="f6">{{ toDateSpliter[0] }}-{{ toDateSpliter[1] | translate }}-{{ toDateSpliter[2] }}</span>
  </div>
  <div class="right flex flex-row flex-wrap  h-100 w-50 pl1 justify-center">
    <span class="top-item ma0 tc h-50 bg-near-white">
      {{workDaysCount}}
    </span>
    <button mat-button (click)="jumpToPto()" class="top-item bg-near-white ma0 h-50">
      <fa-icon [icon]="faAngleRight"></fa-icon>
    </button>
    <span
      class="ma0 bottom-item tc h-50 pa1"
      [ngClass]="{
        'bg-light-red': pto.status==='rejected',
        'bg-light-yellow': pto.status==='pending',
        'bg-green': pto.status=='approved'
      }">
    </span>
    <button *ngIf="!this.requestsService.listMinePtos"  (click)="resolvePto()" mat-button class="bottom-item ma0 bg-near-white h-50">
      <fa-icon [icon]="faPen"></fa-icon>
    </button>
    <button *ngIf="this.requestsService.listMinePtos"  (click)="editPto()" mat-button class="bottom-item ma0 bg-near-white h-50">
      <fa-icon [icon]="faPen"></fa-icon>
    </button>
  </div>
</div>
<mat-spinner class="center" *ngIf="loading===true"></mat-spinner>
