.container {
  display: flex;
  padding: 0.25% 0;
  border: 1.5px #afafaf solid;
  height: 100px;
}
.left {
  border: #F2F2F2 3px solid;
  flex-grow: 1;
}
.right {
  flex-grow: 1;
  overflow: hidden;
  padding-left: 1px;
}
.right span ,.mat-button {
  line-height: 3.25;
  padding: 0;
  margin: 1px;
  width: calc(50% - 2px);
}
.right .top-item {
  margin-top: 0;
}
.right .bottom-item{
  margin-bottom: 0;
}
.right .mat-button {
  padding: 0;
  line-height: inherit;
  border-radius: inherit;
  font: inherit;
  min-width: inherit;
  margin-right: 0;
}
