<app-header></app-header>
<mat-sidenav-container class="flex vh-100 flex-row">
  <mat-sidenav mode="side" opened class="w-20 h-100">
    <app-requests-list></app-requests-list>
  </mat-sidenav>
  <mat-sidenav-content class="w-80 h-100">
    <app-calendar></app-calendar>
  </mat-sidenav-content>
</mat-sidenav-container>
