<div class="flex flex-row justify-end pa3">
  <fa-icon class="mh3 f3 pointer grow-large" (click)="changeWeek(-7)" [ngClass]="{
    'disabled':load
  }" [icon]="faUp"></fa-icon>
  <fa-icon class="mh3 f3 pointer grow-large" (click)="changeWeek(7)" [ngClass]="{
    'disabled':load
  }"[icon]="faDown"></fa-icon>
</div>
