.error-msg {
  color: #d8000c;
  background-color: #ffbaba;
  margin: 10px 0;
  padding: 10px;
  border-radius: 3px 3px 3px 3px;
}

.success-msg {
  color: #270;
  background-color: #dff2bf;
  margin: 10px 0;
  padding: 10px;
  border-radius: 3px 3px 3px 3px;
}

.buttons {
  background-color: #c3c3c3;
}

.dialog {
  background-color: #f2f2f2;
}

.bar {
  background-color: #c3c3c3;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.label {
  display: inline-block;
  width: 393px;
  text-align: right;
}

.aprovers {
  text-align: left;
  font-size: 10px;
  margin-left: auto;
  margin-right: auto;
  display: table;
  background-color: white;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  border-style: ridge;
  border-width: 1px;
}
.cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.delete {
  font-size: 20px;
}

.addEmail {
  width: 110px;
  font-size: 14px;
  height: 30px;
}

.left {
  margin-top: auto;
  font-size: 11px;
}

.request {
  margin: auto;
}
