<div class="dialog">
<div class="bar">
    <div></div>
    <div class="request">{{ 'Request Form' | translate}}</div>
    <div>
    <button mat-button mat-dialog-close >
        <mat-icon>close</mat-icon>
    </button>
  </div>
        </div>
<p class="label">
  <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
    <mat-button-toggle value="bold" (click)="vacation()">{{ 'VACATION' | translate}}</mat-button-toggle>
    <mat-button-toggle value="italic" (click)="sick()">{{ 'SICK' | translate}}</mat-button-toggle>
  </mat-button-toggle-group>
</p>
<div class="label">
<div>{{ 'FROM' | translate}} <mat-form-field>
  <input matInput name="from" [matDatepicker]="pickerFrom" [(ngModel)]="pto.fromDate && !calledFromCalendar" maxlength="8" [disabled]="calledFromCalendar" [placeholder]="calledFromCalendar ? startRange: ''">
  <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
  <mat-datepicker #pickerFrom></mat-datepicker>
</mat-form-field>
</div>
<div>{{ 'TO' | translate}} <mat-form-field>
  <input matInput name="to" [matDatepicker]="pickerTo" [(ngModel)]="pto.toDate && !calledFromCalendar" maxlength="8" [disabled]="calledFromCalendar" [placeholder]="calledFromCalendar ? endRange: ''">
  <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
  <mat-datepicker #pickerTo></mat-datepicker>
</mat-form-field>
</div>
</div>
<div align="center">
           {{ 'APPROVERS' | translate}}
   <input class="addEmail" type="email" placeholder="{{ 'type email' | translate }}" [(ngModel)]="emailHolder" [formControl]="emailValidator" required />
  <button mat-button (click)="addEmail(emailHolder)">
    <mat-icon>add</mat-icon>
  </button>
  <mat-error *ngIf="emailValidator.invalid">{{ getErrorMessage() | translate }}</mat-error>
</div>
<div class="aprovers">
  <div *ngFor="let email of emails" class="cont"> <a class="left">{{email}}</a>
      <button class="delete" mat-button (click)="deleteEmail(email)">
    <mat-icon>delete</mat-icon>
  </button>
</div>
 </div>
<div *ngIf="invalid===true" class="error-msg">Invalid input</div>
<div *ngIf="valid===true" class="success-msg">Submited</div>
<p align="center">
  <button mat-button class="buttons" (click)="saveRequest()">{{ 'SAVE' | translate}}</button>
  &nbsp;
  <button mat-button class="buttons" mat-dialog-close>{{ 'CANCEL' | translate}}</button>
  &nbsp;
  <button mat-button class="buttons" mat-dialog-close>{{ 'CLOSE' | translate}}</button>
</p>
</div>