.timeOffButton1{
  background-color: #2e7d32;
}

.timeOff-text {
  color: white;
  font-size: 18.66px;
  font-weight: normal;
  text-align: center;
}

mat-toolbar {
  background-color: #0288d1;
}

.spacer {
  flex: 1 1 auto;
}

.flag-icon {
  width: 2em;
}

.header-mat-icons {
  color: white;
}

.mat-menu-item {
  color: rgba(0,0,0,.54);
}

button.header-mat-item:hover {
  background: #2e7d32;
  color: white;
  font-weight: bold;
}