<mat-toolbar>
  <a mat-raised-button color='primary' class="timeOffButton1 timeOff-text">{{ 'Time Off' | translate}}</a>
  <span class="spacer"></span>
  <!-- Account Options Dropdown Menu -->
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon class="header-mat-icons">account_circle</mat-icon>
  </button>
  <mat-menu #menu="matMenu" yPosition="below" xPosition="before">
    <button mat-menu-item class="header-mat-item">
      <mat-icon>account_box</mat-icon>
      <span translate>Account</span>
    </button>
    <button (click)='logout()' mat-menu-item class="header-mat-item">
      <mat-icon>logout</mat-icon>
      <span translate>Logout</span>
    </button>
  </mat-menu>
  <!-- Languages Dropdown Menu -->
  <button mat-icon-button [matMenuTriggerFor]="languageMenu">
    <mat-icon class="header-mat-icons">language</mat-icon>
  </button>
  <mat-menu #languageMenu="matMenu" yPosition="below" xPosition="before">
    <button mat-menu-item class="header-mat-item" (click)="switchLanguage('en')">
      <span class="flag-icon flag-icon-us flag-icon-squared header-mat-icons"></span>
      <span translate>EN</span>
    </button>
    <button (click)="switchLanguage('mk')" mat-menu-item class="header-mat-item">
      <span class="flag-icon flag-icon-mk flag-icon-squared header-mat-icons"></span>
      <span translate>MK</span>
    </button>
  </mat-menu>
</mat-toolbar> 