<div class="shadow-3 w-100 h-100 grow" [ngClass]="{'o-60':isOutOfSeason,
'bg-light-blue': inRange === true
}" (click)="requestRange(day)" (mouseover)="isHovered(day)">
  <button mat-button class=" pv2 w-100" [ngClass]=" {
    'bg-silver':isWeekend,'bg-light-gray':!isWeekend,
    'bg-blue': inRange === true
  }">{{ daySpliter[0]}}-{{ daySpliter[1] | translate }}-{{ daySpliter[2]}}</button>
  <div class="bg-animate w-100 pv1">
    <ng-container class="w-100" *ngFor="let pto of activePtos">
      <div class="w-100 mv1 h1" [ngClass]="{
      'bg-green': pto.status === 'approved',
      'bg-light-red': pto.status === 'rejected',
      'bg-light-yellow': pto.status === 'pending',
      'selected': pto.selected === true
      }"></div>
    </ng-container>
  </div>
</div>
<!-- {{ daySpliter[0] }}-{{ daySpliter[1] | translate }}-{{ daySpliter[2] }} -->