<div class="mv2">
  <div class="bg-near-white w-90 center b br1 f3 flex mb2 justify-between pa3">
    <fa-icon
      class="pointer grow-large"
      (click)="onChangeSeason(-1)"
      [ngClass]="{
          'disabled': loadFreeDaysCount || loadRequests
      }"
      [icon]="faLeft">
    </fa-icon>
    {{currentSeason}} - {{currentSeason + 1}}
    <fa-icon
      class="pointer grow-large"
      (click)="onChangeSeason(1)"
      [ngClass]="{
        'disabled':loadFreeDaysCount || loadRequests
      }"
      [icon]="faRight">
    </fa-icon>
  </div>
  <div class="center flex flex-row justify-between  items-center tc mh1 f4 w-90" *ngIf="requestsService.listMinePtos===true">
    <mat-spinner class="ml-auto mr-auto" diameter="25" *ngIf="loadFreeDaysCount===true"></mat-spinner>
    <a *ngIf="loadFreeDaysCount===false" class="bg-light-gray item-width green br0 pv3 ph4 br1 b">{{freeDaysCount}}</a>
    <a
      (click)="openDialog()"
      class="bg-light-gray item-width green br0 pv3 ph4 br1 pointer grow"
      [ngClass]="{
        'disabled':loadFreeDaysCount || loadRequests
      }"
    >
      <small class="bg-dark-green white pa1 br1">{{ 'new' | translate }}</small>
    </a>
  </div>
</div>
